<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Universidad</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/inicio">Inicio</a>

      {{!-- dropdown for students crud --}}
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Estudiantes
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/estudiantes/List">Lista de estudiantes</a>
          <a class="dropdown-item" href="/estudiantes">Añadir estudiantes</a>
        </div>
      </div>

      {{!-- dropdown for courses crud --}}
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cursos
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/cursos/List">Lista de cursos</a>
          <a class="dropdown-item" href="/cursos">Añadir cursos </a>
        </div>
      </div>

      {{!-- dropdown for students crud --}}
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          inscripciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/inscripciones/List">lista de inscripciones</a>
          <a class="dropdown-item" href="/inscripciones">Añadir inscripcion</a>
        </div>
      </div>

      <a class="nav-item nav-link" href="logout">Salir</a>
    </div>
  </div>
</nav>

