
    <h1 class="navbar-brand">Registro de estudiantes</h1>

<div class="container">
   <div class="card-group">
    <div class="card " style="width: 250px;">
  <img class="card-img-top" src="https://us.123rf.com/450wm/rashadashurov/rashadashurov1911/rashadashurov191101490/133749415-concepto-de-cuenta-icono-de-l%C3%ADnea-azul-elemento-delgado-simple-sobre-fondo-oscuro-dise%C3%B1o-de-s%C3%ADmbolo-.jpg?ver=6" alt="Card image cap" height="300px" width="200px">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <p class="card-text">haga click aqui para iniciar sesion </p>
     <a href="/login" class="btn btn-primary">Login</a>
  </div>
</div>

<div class="card "  style="width: 250px;">
  <img class="card-img-top" src="https://us.123rf.com/450wm/rashadashurov/rashadashurov1911/rashadashurov191101490/133749415-concepto-de-cuenta-icono-de-l%C3%ADnea-azul-elemento-delgado-simple-sobre-fondo-oscuro-dise%C3%B1o-de-s%C3%ADmbolo-.jpg?ver=6" alt="Card image cap" height="300px" width="200px">
  <div class="card-body">
    <h5 class="card-title">Registro</h5>
    <p class="card-text">haga click aqui para crear una cuenta de usuario</p>
      <a href="/register" class="btn btn-primary">Registro</a>
  </div>
</div>
   </div>
</div>