{{> menu}}

<div class="container">
 
    <div class="jumbotron">
        <center>
        <h1 class="display-4"   > BIENVENIDOS</h1>
        </center>
        <center>
        <p class="lead">Este sitio fue creado para poder hacer registros de estudiates junto con sus materia y actividades</p>
        </center>
        <hr class="my-4">
     
       
      </div>
      <center>
      <div class="card" style="width: 18rem;">
        <img src="https://veedorfiscal.files.wordpress.com/2014/09/registro1.jpg?w=627&h=470" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">HOLA</h5>
          <p class="card-text">Nos aseguramos de administrar todos los registros estudiantiles</p>
          <div id="copyright">Copyright&copy; 2022 Todos los derechos reservados</div>
        </div>
      </div>
    </center>

   




</div>